/* Boiler plate */
* { 
	box-sizing: border-box;
}
html, body {
	min-height: 100%;
	background: #fff;
	color: #000;
}
	/* sets the body height of the browser, so that backgrounds and div heights work correctly. Color and background will almost certainly be altered; they are just placeholders */
	
body {
	font-size: 1.4rem;
	text-rendering: optimizeLegibility;
    background-color: rgb(34, 32, 32);
}
	/* sets the base font size for the document; turns on kerning pairs and ligatures */
	
body, ul, ol, dl {
	margin: 0;
}
article, aside, audio, 
footer, header, nav, section, video {
	display: block; 
	}
	
	/* ensures that older browsers will display HTML5 elements correctly */
	
h1 {
	font-size: 1.4rem;
}
	/* begins to set up font sizes relative to base rem – h1 has been used as an example */
	
p { 
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
} 
	/* sets hyphenation by default on paragraphs */
	
textarea { 
	resize: vertical;
}
 /* changes textarea resizing from "both" (UA default) to vertical only */
 
table { border-collapse: collapse; }
td {
	padding: .5rem;
}
	/* causes tables to actually look like tables */
	
img { 
	border: none;
	max-width: 100%;
}
	/* removes outlines from linked images (for older browsers and IE), sets up images for responsive design layout */
	
input[type="submit"]::-moz-focus-inner, 
	input[type="button"]::-moz-focus-inner {
		border : 0px;
	}

	/* removes the OS X appearance from HTML5 search inputs and submit buttons when viewed in Safari */
	
input:required:after {
	color: #f00;
	content: " *";
}
	/* sets up required form fields with the conventional following red asterix */
input[type="email"]:invalid { 
	background: #f00;
}
	/* causes a visual alert in browsers that do client-side checking of HTML5 email field – this may already be the default in some browsers. */
	
.right { 
	float: right;
	margin-left: 2rem;
	clear: right;
}
.left { 
	float: left;
	margin-right: 2rem;
	clear: left;
}
	/* allows a quick shortcut for floating elements left and right while avoiding the “float quirk” problem */
	
sub, sup { 
	line-height: 0;
}
    /* sets superscript and subscript text so that it doesn't throw off leading for elements in which they are included */
*{
      border: 1px solid transparent;
}

#mainBox{
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    z-index: 1;
}

#mainBox>img{
    width: 150px;
    border-radius: 100%;
    margin-bottom: 40px;
}

#mainBox>h1{
    font-size: 54px;
    margin-top: -10px;
    margin-bottom: -10px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 100;
    font-family: "Nunito", "Roboto", "Helvetica", "Arial", sans-serif;
}

#mainBox>p{
    font-family: "Nunito", "Roboto", "Helvetica", "Arial", sans-serif;
}

#logo img{
    width: 40px;
    cursor: pointer;
}

#logo img:hover{
  transform: scale(1.2);
}

#logo{
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

#logoName{
    display: flex;
    font-size: 12px;
    width: 400px;
    justify-content: space-between;
}

#logoName>div{
    visibility: hidden;
    width: max-content;
    padding: 1%;
    text-align: center;
    border-radius: 8px;
    background-color: gray;
}

.visibleName{
    visibility: visible;
}

.linkdin:hover{
    visibility: visible;
}

/* bacground */
  
  .ripple-background{
    background-color: transparent;
 
  }
  
  .circle{
    position: absolute;
    border-radius: 50%;
    background: white;
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px #5e6468;
  }
  
  .small{
    width: 200px;
    height: 200px;
    left: -100px;
    bottom: -100px;
  }
  
  .medium{
    width: 400px;
    height: 400px;
    left: -200px;
    bottom: -200px;
  }
  
  .large{
    width: 600px;
    height: 600px;
    left: -300px;
    bottom: -300px;
  }
  
  .xlarge{
    width: 800px;
    height: 800px;
    left: -400px;
    bottom: -400px;
  }
  
  .xxlarge{
    width: 1000px;
    height: 1000px;
    left: -500px;
    bottom: -500px;
  }
  
  .shade1{
    opacity: 0.2;
  }
  .shade2{
    opacity: 0.5;
  }
  
  .shade3{
    opacity: 0.7;
  }
  
  .shade4{
    opacity: 0.8;
  }
  
  .shade5{
    opacity: 0.9;
  }
  
  @keyframes ripple{
    0%{
      transform: scale(0.8);
    }
    
    50%{
      transform: scale(1.2);
    }
    
    100%{
      transform: scale(0.8);
    }
  }

  #intro{
    width: 100%;
    height: 700px;
    position: relative;
    z-index: 1;
    text-align: center;
  }

.reveal-text,
.reveal-text::after {
	animation-delay: var(--animation-delay, 2s);
	animation-iteration-count: var(--iterations, 1);
	animation-duration: var(--duration, 800ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.reveal-text {
	--animation-delay: var(--delay, 10);
	--animation-duration: var(--duration, 800ms);
	--animation-iterations: var(--iterations, 1);
	position: relative;
	/* font-size: 10vw; */
	animation-name: clip-text;
	color: white;
	white-space: nowrap;
	cursor: default;
	
}

.reveal-text::after {
		content: "";
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: white;
		transform: scaleX(0);
		transform-origin: 0 50%;
		pointer-events: none;
		animation-name: text-revealer;
	}


@keyframes clip-text {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}


@keyframes text-revealer {
	
	0%, 50% {
		transform-origin: 0 50%;
	}
	
	60%, 100% {
		transform-origin: 100% 50%;		
	}

	
	60% {
		transform: scaleX(1);
	}
	
	100% {
		transform: scaleX(0);
	}
}

/* About me */
@import url(https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed:700);
.cont_intro {
  max-width: 720px;
  margin: 150px auto;
  cursor: pointer;
  background-color: transparent;
  /* border: 1px solid red; */
}

h2 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 60px;
  letter-spacing: -0.05em;
  text-align: center;
  line-height: 1;
  color: white;
  font-family: "Roboto Condensed", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  transform-origin: center bottom;
  transition: all 0.4s;
}
h2:first-of-type {
  transform-origin: center top;
}
.cont_intro:hover h2 {
  transform: scaleY(0);
}

.text_intro {
  position: absolute;
  top: 25%;
  right: 0;
  left: 0;
  font-family: "Open Sans";
  transform: translateY(-50%);
  transition: all 0.3s;
}
.text_intro:before, .text_intro:after {
  display: block;
  margin: 50px 0;
  height: 10px;
  background-color:  white;
  opacity: 0.75;
  content: "";
  transition: all 0.3s;
}
.text_intro:hover {
  background: white;
}
.text_intro:hover:before, .text_intro:hover:after {
  margin: 0;
}

.inner_intro {
  padding: 0 60px;
  max-height: 0;
  overflow: hidden;
  background: white;
  line-height: 1.5;
  font-size: 18px;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-align: justify;
  transform: scale(0);
  transition: all 0.3s;
}
.cont_intro:hover .inner_intro {
  padding: 60px;
  max-height: 400px;
  transform: scale(1);
}

/* technologies */
#techno{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 25px;
}

#techno>img{
  width: 50px;
}

#techno>img:hover{
  transform: scale(1.4);
}

#intro{
  height: 300px;

}
