/* navbar */

#nav{
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 1;
    width: 100vw;
    height: auto;
    background-color: rgb(34, 32, 32);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

#nav.nav-visible {
    height: 100%;
    overflow: auto;
  }
  
  .nav {
    display: flex;
    height: 4em;
    line-height: 4em;
    flex-grow: 1;
  }
  
  .nav-link,
  .logo {
    padding: 0 1em;
  }
  
  .nav-link {
    text-transform: uppercase;
    text-align: center;
    border-top: 0.5px solid #ddd;
  }
  
  a:link, a:visited, a:active {
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .right {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .btn-nav {
    color: transparent;
    padding-left: 2em;
    padding-right: 2em;
  }
  
  @media (min-width: 800px) {
    .nav {
      overflow: hidden;
      flex-direction: row;
    }
  
    .nav-link {
      border-top: none;
    }
  
    .right {
      overflow: hidden;
      flex-direction: row;
      justify-content: flex-end;
      position: relative;
      left: 1.5em;
      height: auto;
    }
  
    .btn-nav {
      display: none;
    }
  
    .nav a:link.active, a:visited.active, a:active.active {
      background: rgb(34, 32, 32);
      background: white;
      background: white;
      color: black;
      font-weight: 600;
    }
  
    .nav-link-span {
      transform: skew(20deg);
      display: inline-block;
    }
  
    .nav-link {
      transform: skew(-20deg);
      color: #777;
      text-decoration: none;
    }
    .nav-link:last-child {
      padding-right: 3em;
    }
  
    a:hover.nav-link:not(.active) {
      color: #444;
      background: #ddd;
      background: linear-gradient(45deg, #fff, #ddd);
    }
  }
  @keyframes logo-hover {
    20% {
      padding-right: 0em;
    }
    100% {
      padding-right: 5em;
    }
  }

  #mobHome{
    display: none;
  }

  @media (max-width: 800px){
    .nav{
        display: none;
    }

    #mobHome{
        display: inline;
      }
  }

  .container {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    top: 1%;
  }
  
  .bar1, .bar2, .bar3 {
    width: 40px;
    height: 3px;
    background-color: rgb(248, 248, 248);
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 9px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -9px) rotate(45deg);
  }

  .mobBar{
    display: none;
    position: fixed;
    z-index: -1;
    background-color: black;
    width: 250px;
    height: 100vh;
    top:  0%;
    left: 0%;
    padding-top: 65px;
    font-size: 34px;
  }

  .mobBarVis{
    display:block;
  }
   
  .mobBar>div{
    margin:25px 0px 15px 25px ;
  }
  .mobBar>div>a{
    color: white;
    text-decoration: none;
  }

  /* bcakground */
  body{
    background-color: rgb(34, 32, 32);
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    overflow-x: hidden;
  }

  .ripple-background{
    background-color: transparent;
    position: absolute;
    z-index: 1;
  }
  
  .circle{
    position: fixed;
    border-radius: 50%;
    background: white;
    animation: ripple 8s infinite;
    box-shadow: 0px 0px 1px 0px #5e6468;
  }
  
  .small{
    width: 250px;
    height: 250px;
    left: -125px;
    bottom: -125px;
  }
  
  .medium{
    width: 400px;
    height: 400px;
    left: -200px;
    bottom: -200px;
  }
  
  .large{
    width: 600px;
    height: 600px;
    left: -300px;
    bottom: -300px;
  }
  
  .xlarge{
    width: 800px;
    height: 800px;
    left: -400px;
    bottom: -400px;
  }
  
  .xxlarge{
    width: 1000px;
    height: 1000px;
    left: -500px;
    bottom: -500px;
  }
  
  .shade1{
    opacity: 0.1;
  }
  .shade2{
    opacity: 0.3;
  }
  
  .shade3{
    opacity: 0.5;
  }
  
  .shade4{
    opacity: 0.7;
  }
  
  .shade5{
    opacity: 0.9;
  }
  
  @keyframes ripple{
    0%{
      transform: scale(0.8);
    }
    
    50%{
      transform: scale(1.2);
    }
    
    100%{
      transform: scale(0.8);
    }
  }

  /* main body */
  .mainSec{
    width: 100vw;
    height: max-content;
  }

  /* home */

  #mainBox{
    width: max-content;
    margin: auto;
    height: 90vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #mainBox>div{
    color: #fff;  
    width: max-content;
    height: max-content;
    text-align: center;
  }

  #mainBox>div>img{
    width: 150px;
    border-radius: 100%;
    margin-bottom: 40px;
    cursor: pointer;
}

#mainBox>div>img:hover{
    border-radius: 30%;
    transition: transform 500ms ease-in-out;
    transform: scale(1.5);
}

#mainBox h1{
    font-size: 54px;
    margin-top: -10px;
    margin-bottom: -10px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 100;
    font-family: "Nunito", "Roboto", "Helvetica", "Arial", sans-serif;
}

#mainBox p{
    font-family: "Nunito", "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 24px;
}

#logo img{
    width: 35px;
    cursor: pointer;
}

#logo img:hover{
  transform: scale(1.1);
}

#logo{
  width: 380px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

#logoName{
    display: flex;
    width: 380px;
    justify-content: space-between;
}

#logoName>span{
    visibility: hidden;
    font-weight: 600;
}

.visibleName{
    visibility: visible;
}

.linkdin:hover{
    visibility: visible;
}

@media only screen and (max-device-width : 400px){

    #mainBox h1{
    font-size: 34px;
    }    

    #logo{
        width: 280px;
        margin: auto;
    }    

    #logo img{
        width: 25px;
    }    
}

/* about me */
#aboutMe{
    height: 100vh;
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#wave{
  width: 34px;
}

#aboutMe>div{
    width: 40%;
    height: max-content;
    background-color: #fff;
    margin: auto;
    font-family: "Nunito", "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 18px;
    text-align: justify;
    line-height: 25px;
    border-radius: 15px;
    padding: 2%;
}

#aboutMe>div>q>span{
    font-weight: 600;
    font-size: 28px;
    color: #3f3f3f;
}

@media only screen and (max-device-width : 554px){
    #aboutMe>div{
        width: 300px;
    }
}

@media only screen and (max-device-width : 340px){
    #aboutMe>div{
        width: 90%;
    }
}

/* Tech stack and tools */
#TechStack{
    width: max-content;
    margin: auto;
}

#TechStack>div{
    height: 100vh;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#TechStack>div>span{
    margin-bottom: 25px;
    font-size: 34px;
    font-weight: 600;
    color: #fff;
}

#TechStack>div>div{
    color: #fff;
    font-size: 54px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
    row-gap: 20px;
}

#TechStack>div>div>img{
    width: 120px;
    height: 120px;
    border-radius: 10px;
    cursor: pointer;
    object-fit: contain;
    background-color: #fff;
    margin: auto;
}

#TechStack>div>div>img:hover{
    transform: scale(1.1);
}

@media only screen and (max-device-width : 658px){
    #TechStack>div>div>img{
        width: 80px;
        height: 80px;
    }
}

@media only screen and (max-device-width : 450px){

    #TechStack>div>span{
        font-size: 24px;
    }

    #TechStack>div>div{
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}


/* skills */
#skill{
    height: max-content;
    padding-top: 10vh;
    width: fit-content;
}

#skill>div{
    width: 80%;
    margin: auto;
    text-align: center;
}

#skill>div>span:first-child{
    font-size: 34px;
    font-weight: 600;
    color: #fff;
}

#skill>div>div:nth-child(2), #skill>div>div:nth-child(3){
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

#skill>div>div:nth-child(2)>div{
    background-color: #fff;
    width: 24%;
    height: max-content;
    border-radius: 10px;
}

#skill>div>div:nth-child(2)>div>i{
    font-size: 34px;
}

#skill>div>div:nth-child(3)>div{
    background-color: #fff;
    width: 15%;
    height: 100px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-device-width : 650px){

    #skill>div{
        margin: auto;
    }

    #skill>div>span:first-child{
        font-size: 24px;
    }

    #skill>div>div:nth-child(2){
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    #skill>div>div:nth-child(2)>div{
        width: auto;
        font-size: 14px;
    }

    #skill>div>div:nth-child(3){
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 100px);
        gap: 15px;
        
    }

    #skill>div>div:nth-child(3)>div{
        width: auto;
    }
} 

#skill>div>div:nth-child(4)>span{
    font-size: 24px;
    text-align: center;
    font-weight: 600;
    color: #fff;
    margin-top: 15px;
}

#skill>div>div:nth-child(4)>div{
    background-color: #fff;
}

@media only screen and (max-device-width : 1000px){
    #skill>div>div:nth-child(4){
        display: none;
    }
}

/* project */
#project{
    width: max-content;
    height: max-content;
    padding-top: 12vh;
    margin: auto;
}

#project>div{
    width: 80vw;
    margin: auto;
    text-align: center;
}    

#project>div>span{
    font-size: 34px;
    font-weight: 600;
    color: #fff;
}

#project>div>div{
    display: grid;
    grid-template-columns: repeat(2, 48%);
    grid-template-rows: repeat(2, auto);
    column-gap: 4%;
    row-gap: 25px;
    margin: auto;
    margin-top: 25px;
}

#project>div>div>div{
padding: 2%;
background-color: #fff;
border-radius: 10px;
font-family: sans-serif;
}

#project>div>div>div>img{
    width: 90%;
    margin-left: 5%;
}

#project>div>div>div>a>button{
    background-color: blue;
    border: blue;
    color: white;
    width: 90px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
}

@media only screen and (max-device-width : 800px) {
    #project>div>div{
        display: inline;
    }

    #project>div>div>div{
        width: 80%;
        margin-left: 10%;
        margin-bottom: 25px;
    }

    #project>div>div>div>a>button{
      width: 60px;
      height: 30px;
      font-size: 10px;
  }
}

/* contact me */
#contact{
    width: fit-content;
    height: max-content;
    margin: auto;
}

#contact>div{
    width: 80vw;
    margin: auto;
    text-align: center;
    height: 100vh;
    padding-top: 11vh;
}

#contact>div>span{
    font-size: 34px;
    font-weight: 600;
    color: #fff;
}

#contact>div>p{
    font-size: 24px;
    color: #fff;
}

#contact>div>form{
    width: 50%;
    margin: auto;
}

#contact>div>form>input{
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: none;
    background: white;
    font-size: 14px;
    outline: none;
}

#contact>div>form>input::placeholder{
    color: black;
}

#contact>div>form>textarea{
    height: 200px;
    width: 100%;
    border-radius: 10px;
    border: none;
    background: white;
    font-size: 14px;
    outline: none;
}

#contact>div>form>textarea::placeholder{
    color: black;
    font-family: sans-serif;
  }
  
#contact>div>form>button{
    width: 30%;
    margin-top: 15px;
    background: blue;
    color: white;
    height: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

@media only screen and (max-device-width : 600px) {

    #contact>div{
        width: 400px;
    }

    #contact>div>span{
        font-size: 24px;
    }

    #contact>div>p{
        font-size: 12px;
    }
}

@media only screen and (max-device-width : 300px){
    #contact>div{
        width: 200px;
    }
}


/* resume */
#resume{
    width: max-content;
    height: fit-content;
    margin: auto;
    padding-top: 12vh;
}
#resume>div{
    margin: auto;
    width: 500px;
    height: max-content;
    color: #fff;
    font-size: 34px;
    text-align: center;
    margin-bottom: 50px;
}

#resume>div>div>a>button{
    width: 140px;
    height: 60px;
    color: white;
    background: blue;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
  }

  @media only screen and (max-device-width : 768px) {
    #resume>div{
        margin: auto;
        width: 200px;
        height: 50vh;
    }

    #resume>div>div>a>button{
        width: 120px;
        height: 40px;
        margin-bottom: 15px;
        font-size: 14px;
    }    
  }


  /* footeer */
  #fotter{
    width: 100%;
    height: 50vh;
    background-color: rgb(189, 187, 187);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 80%;
  }

  #fotter>img{
    width: 10%;
    margin-left: 45%;
  }