/* Boiler plate code  */
html {
  scroll-behavior: smooth;
}

/* Background ripple effect */
body{
    background-color: rgb(34, 32, 32);
    font-family:"Poppins", sans-serif;
    /* overflow: hidden; */
}
.ripple-background{
    background-color: transparent;
  }
  
  .circle{
    position: fixed;
    z-index: -1;
    border-radius: 50%;
    background: white;
    animation: ripple 8s infinite;
    box-shadow: 0px 0px 1px 0px #5e6468;
  }
  
  .small{
    width: 250px;
    height: 250px;
    left: -125px;
    bottom: -125px;
  }
  
  .medium{
    width: 400px;
    height: 400px;
    left: -200px;
    bottom: -200px;
  }
  
  .large{
    width: 600px;
    height: 600px;
    left: -300px;
    bottom: -300px;
  }
  
  .xlarge{
    width: 800px;
    height: 800px;
    left: -400px;
    bottom: -400px;
  }
  
  .xxlarge{
    width: 1000px;
    height: 1000px;
    left: -500px;
    bottom: -500px;
  }
  
  .shade1{
    opacity: 0.1;
  }
  .shade2{
    opacity: 0.3;
  }
  
  .shade3{
    opacity: 0.5;
  }
  
  .shade4{
    opacity: 0.7;
  }
  
  .shade5{
    opacity: 0.9;
  }
  
  @keyframes ripple{
    0%{
      transform: scale(0.8);
    }
    
    50%{
      transform: scale(1.2);
    }
    
    100%{
      transform: scale(0.8);
    }
  }

  /* mobile button hidden */
  #mobHome{
    visibility: hidden;
  }

  .mobBar{
    display: none;
  }

  #nav-wrapper {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  
  #nav {
    background-color: rgb(34, 32, 32);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    font-family: "Saira Semi Condensed", sans-serif;
    height: 4em;
    overflow: hidden;
  }
  #nav.nav-visible {
    height: 100%;
    overflow: auto;
  }
  
  .nav {
    display: flex;
    height: 4em;
    line-height: 4em;
    flex-grow: 1;
  }
  
  .nav-link,
  .logo {
    padding: 0 1em;
  }
  
  .nav-link {
    text-transform: uppercase;
    text-align: center;
    border-top: 0.5px solid #ddd;
  }
  
  a:link, a:visited, a:active {
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .right {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .btn-nav {
    color: transparent;
    padding-left: 2em;
    padding-right: 2em;
  }
  
  @media (min-width: 800px) {
    #nav-wrapper {
      overflow: hidden;
    }
  
    #nav {
      overflow: hidden;
      flex-direction: row;
    }
  
    .nav-link {
      border-top: none;
    }
  
    .right {
      overflow: hidden;
      flex-direction: row;
      justify-content: flex-end;
      position: relative;
      left: 1.5em;
      height: auto;
    }
  
    .btn-nav {
      display: none;
    }
  
    .nav a:link.active, a:visited.active, a:active.active {
      background: rgb(34, 32, 32);
      background: white;
      background: white;
      color: black;
      font-weight: 600;
    }
  
    .nav-link-span {
      transform: skew(20deg);
      display: inline-block;
    }
  
    .nav-link {
      transform: skew(-20deg);
      color: #777;
      text-decoration: none;
    }
    .nav-link:last-child {
      padding-right: 3em;
    }
  
    a:hover.nav-link:not(.active) {
      color: #444;
      background: #ddd;
      background: linear-gradient(45deg, #fff, #ddd);
    }
  }
  @keyframes logo-hover {
    20% {
      padding-right: 0em;
    }
    100% {
      padding-right: 5em;
    }
  }

  /* Common for allthe sctions */
 section{
    background-color: transparent;
    width: 100%;
    height: 100%;
    margin: auto;
    padding-top: 65px;
  }

  section>span{
    font-size: 54px;
    font-weight: 600;
    color: white;
    font-family: "Nunito", "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 0px 30px;
  }

  
.cardBoxFull {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.cardBox:hover .cardBoxFull {
  transform: rotateY(180deg);
}

.front,
.back{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
}

.front {
  background: white;
}

.back {
  background: white;
  color: black;
  transform: rotateY(180deg);
}


  /* THis is about me section */
  
#mainBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
}

#mainBox>img{
    width: 150px;
    border-radius: 100%;
    margin-bottom: 40px;
    cursor: pointer;
}

#mainBox>img:hover{
    border-radius: 30%;
    transition: transform 500ms ease-in-out;
    transform: scale(1.5);
}

#mainBox>h1{
    font-size: 54px;
    margin-top: -10px;
    margin-bottom: -10px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 100;
    font-family: "Nunito", "Roboto", "Helvetica", "Arial", sans-serif;
}

#mainBox>p{
    font-family: "Nunito", "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 24px;
}

#logo img{
    width: 35px;
    cursor: pointer;
}

#logo img:hover{
  transform: scale(1.1);
}

#logo{
  width: 380px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

#logoName{
    display: flex;
    width: max-content;
    font-size: 12px;
    justify-content: space-between;
}

#logoName>div{
    visibility: hidden;
    width: min-content;
    padding: 1%;
    text-align: center;
    border-radius: 8px;
    background : white;
    color: black;
    position: relative;
    font-weight: 600;
}
#logoName>div:nth-child(1){
    left:  -75px;
}
#logoName>div:nth-child(2){
    left:  -44px;
}
#logoName>div:nth-child(3){
    left:  -25px;
}
#logoName>div:nth-child(4){
    left:  -8px;
}
#logoName>div:nth-child(5){
    left:  17px;
}
#logoName>div:nth-child(6){
    left:  47px;
}

.visibleName{
    visibility: visible;
}

.linkdin:hover{
    visibility: visible;
}


/* about me section */
#aboutMe>div{
  width: 500px;
  height: 300px;
  background-color: transparent;
  font-family: "Nunito", "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  position: relative;
  text-align: justify;
  line-height: 25px;
  top: 25%;
  left: 50%;
  border-radius: 15px;
}

#wave{
  width: 34px;

}

.front>q{
  width: 90%;
  text-align: justify;
}
.front>q>span{
  font-weight: 600;
  font-size: 28px;
  color: #3f3f3f;
}

#aboutMe .back img{
  width: 34px;
  margin-right: 20px;
}

#aboutMe .back span{
  margin-bottom: 20px;
}

/* techStack section */
#techStack>div{
  width: 500px;
  height: 300px;
  background-color: transparent;
  font-family: "Nunito", "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  position: relative;
  text-align: justify;
  line-height: 25px;
  top: 25%;
  left: 50%;
  border-radius: 15px;
  perspective: 1000px
}

#techStack .front>img{
  width: 80%;
  margin: 30px auto;
}

#techStack .front b{
  font-size: 30px;
}

#techStack .back{
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(2, 100px);
  gap: 15px;
  row-gap: 35px;
  padding-top: 60px;
}

#techStack .back img{
  width: 100%;
}

#techStack .back b{
  position: absolute;
  top: 20px;
  width: 30%;
  left: 35%;
  font-size: 30px;
  text-align: center;
}

/* Skills section */
#skill{
  height: max-content;
}
#skill>div{
  width: 90vw;
  margin: auto;
  color: white;
  margin-top: 60px;
}

#skill>div>span{
  font-size: 24px;
  font-weight: 600;
}

#skill>div>div:nth-child(1){
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  column-gap: 10px;
  margin-bottom: 35px;
}

#skill>div>div:nth-child(1)>div{
  background-color: white;
  color: black;
  text-align: center;
  font-size: 14px;
  padding: 5%;
  border-radius: 10px;
}

#skill>div>div:nth-child(1)>div>i{
  font-size: 25px;
}

#skill>div>div:nth-child(3){
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 15px auto 35px auto;
}

#skill>div>div:nth-child(3)>div{
  background-color: white;
  color: black;
  font-weight: 600;
  width: 160px;
  padding: 1%;
  border-radius: 10px;
}

 /* gitstat */
 .calendar{
  width: 60%;
  height: min-content;
  background-color: rgb(255, 255, 255);
  margin: 15px auto;
 }


/* This is projects sections */
#project{
  height: fit-content;
}

#project>div{
  width: 90vw;
  margin: 5vw auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 42.5vw);
  grid-template-rows: repeat(2, auto);
  column-gap: 5vw;
  row-gap: 30px;
}

#project>div>div{
  background-color: white;
  padding: 3%;
  border-radius: 10px;
}

#project>div>div>img{
  width: 100%;
  height: 50%;
  cursor: pointer;
}

#project>div>div>h3{
  font-size: 28px;
}

#project>div>div button{
  background-color: blue;
  border: blue;
  color: white;
  width: 90px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
}


/* Message section */
#contact>form{
  width: 50%;
  position: relative;
  top: 20%;
  right: -40%;
}

#contact>form>input{
width: 100%;
height: 50px;
margin-bottom: 15px;
border-radius: 10px;
border: none;
background: white;
font-size: 14px;
}

#contact>form>input::placeholder{
  color: black;
}

#contact>form>textarea{
  height: 200px;
  width: 100%;
  border-radius: 10px;
  border: none;
  background: white;
  font-size: 14px;
}

#contact>form>textarea::placeholder{
  color: black;
  font-family: sans-serif;
}

#contact>form>button{
  width: 20%;
  margin-top: 15px;
  background: blue;
  color: white;
  height: 50px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

/* Resume */
#resume>div:nth-child(2){
width: 40%;
display: flex;
justify-content: space-between;
margin: 25px 30%;
}

#resume>div>a>button{
  width: 150px;
  height: 80px;
  color: white;
  background: blue;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* Theme button */
#theme{
  width: auto;
  height: 30px;
  border: none;
  position: fixed;
  top: 90%;
  right: 2%;
  color: #fff;
  text-align: center;
  padding-top: 10px;
  cursor: pointer;
  font-size: 10px;
}

/* credits */
#credit{
  width: 120px;
  margin: 300px auto 0px auto;
  text-align: center;
}

#credit>img{
  rotate: -30deg;
}

#credit>img{
  width: 80%;
  margin: auto;
}

#credit>span{
  font-size: 10px;
  color: white;
  overflow: visible;

}
