/* Responding */

/* Tab */
@media only screen and (min-device-width : 375px) and (max-device-width : 768px) {
    /* Styles */

    /* Navbar */
     /* Navbar */

     #mobHome{
        visibility: visible;
        position:fixed;
    }
    .container {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        z-index: 1;
      }
      
      .bar1, .bar2, .bar3 {
        width: 30px;
        height: 3px;
        background-color: rgb(248, 248, 248);
        margin: 6px 0;
        transition: 0.4s;
      }
      
      .change .bar1 {
        transform: translate(0, 9px) rotate(-45deg);
      }
      
      .change .bar2 {opacity: 0;}
      
      .change .bar3 {
        transform: translate(0, -9px) rotate(45deg);
      }
  
      .mobBar{
        visibility: hidden;
        position: absolute;
        z-index: -1;
        background-color: rgb(34, 32, 32);
        width: 160px;
        height: 100vh;
        top: -10px;
        left: -10px;
        padding-top: 35px;
        padding-bottom: 20px;
        border-bottom-right-radius: 20px;
      }

      .mobBarVis{
        display:block;
        visibility: visible;
      }
       
      .mobBar>div{
        color: white;
        margin:25px 0px 15px 25px ;
      }
      .mobBar>div>a{
        color: white;
        text-decoration: none;
      }


    #nav-wrapper{
        visibility: hidden;
    }

    /* Ṃain box */
    #mainBox{
        width: 100%;
    }

    #mainBox>img{
        width: 120px;
        margin-bottom: 35px;
    }

    #mainBox>h1{
        font-size: 44px;
    }

    #mainBox>p{
        font-size: 18px;
    }

    #logo img{
        width: 30px;
    }

    #logo{
        width: 300px;
    }

    #logoName>div:nth-child(1){
        left:  -38px;
    }
    #logoName>div:nth-child(2){
        left:  -24px;
    }
    #logoName>div:nth-child(3){
        left:  -15px;
    }
    #logoName>div:nth-child(4){
        left:  -13px;
    }
    #logoName>div:nth-child(5){
        left:  -2px;
    }
    #logoName>div:nth-child(6){
        left:  13px;
    }

    /* About me section */
    #aboutMe>span{
      font-size: 34px;
    }
    
    #aboutMe>div{
        width: 80%;
        font-size: 16px;
        left: 10%;
    }

       /* Skill section */
       #skills>span{
        font-size: 34px;
      }
      
      #skills>div{
        width: 80%;
        font-size: 16px;
        left: 10%;
      }

      #skills .back{
        grid-template-columns: repeat(3, 70px);
        grid-template-rows: repeat(3,70);
        gap: 10px;
        padding-top: 50px;
      }
    
      #skills .back b{
        top: 10px;
        width: 60%;
        left: 20%;
      }
  

      /* project section */
      #project>span{
        font-size: 34px;
      }

      #project>div{
        display: inline;
        width: 100vw;
        margin-top: 50px;
      }

      #project>div>div{
        width: 80%;
        margin-left: 5%;
        margin-bottom: 20px;
      }

      /* contact section */
      #contact>span{
        font-size: 34px;
      }

     #contact>form{
        width: 80%;
        left: 0%;
        margin: auto;
     }

     
    #contact>form>button{
        width: 40%;
    }

     /*Resume  */
     #resume>span{
        font-size: 34px;
     }

     #resume>div:nth-child(2){
        left: 10%;
        width: 80%;
     }

     #resume>div>a>button{
      width: 100px;
      height: 50px;
      font-size: 16px;
     }

    /* gitstat */
    .calendar{
      margin-top: 50px;
      width: 95%;
      margin-left: 2.5%;
    }
    /* creidt */
    #credit{
        bottom: -30%;
    }
    }

/* Mobile scresn */
@media only screen and (min-device-width : 0px) and (max-device-width : 375px) {
    /* Styles */

    /* Navbar */

    #mobHome{
        visibility: visible;
        position:fixed;
    }
    .container {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        z-index: 1;
      }
      
      .bar1, .bar2, .bar3 {
        width: 30px;
        height: 3px;
        background-color: rgb(248, 248, 248);
        margin: 6px 0;
        transition: 0.4s;
      }
      
      .change .bar1 {
        transform: translate(0, 9px) rotate(-45deg);
      }
      
      .change .bar2 {opacity: 0;}
      
      .change .bar3 {
        transform: translate(0, -9px) rotate(45deg);
      }
  
      .mobBar{
        visibility: hidden;
        position: absolute;
        z-index: -1;
        background-color: rgb(34, 32, 32);
        width: 160px;
        height: 100vh;
        top: -10px;
        left: -10px;
        padding-top: 35px;
        padding-bottom: 20px;
        border-bottom-right-radius: 20px;
      }

      .mobBarVis{
        display:block;
        visibility: visible;
      }
       
      .mobBar>div{
        color: white;
        margin:25px 0px 15px 25px ;
      }
      .mobBar>div>a{
        color: white;
        text-decoration: none;
      }


    #nav-wrapper{
        visibility: hidden;
    }

     /* Ṃain box */
     #mainBox{
        width: 100%;
    }

    #mainBox>img{
        width: 95px;
        margin-bottom: 25px;
    }

    #mainBox>h1{
        font-size: 30px;
    }

    #mainBox>p{
        font-size: 12px;
    }

    #logo img{
        width: 25px;
    }

    #logo{
        width: 240px;
        
    }

    #logoName{
        font-size: 9px;
        margin-top: -8px;
    }

    #logoName>div{
        visibility: visible;
        background-color: transparent;
    }

    #logoName>div:nth-child(1){
        left:  -34px;
    }
    #logoName>div:nth-child(2){
        left:  -20px;
    }
    #logoName>div:nth-child(3){
        left:  -13px;
    }
    #logoName>div:nth-child(4){
        left:  -9px;
    }
    #logoName>div:nth-child(5){
        left:  2px;
    }
    #logoName>div:nth-child(6){
        left:  14px;
    }
    
  /* About me section */
  #aboutMe>span{
    font-size: 34px;
  }
  
  #aboutMe>div{
      width: 230px;
      height: 200px;
      font-size: 12px;
      line-height: 16px;
      text-align: left;
      left: 15%;
  }

  /* skills section */
  #skills>span{
    font-size: 34px;
  }
  
  #skills>div{
      width: 230px;
      font-size: 12px;
      line-height: 16px;
      text-align: left;
      left: 15%;
  }

  #skills .back{
    grid-template-columns: repeat(2, 60px);
    grid-template-rows: repeat(4,60px);
    gap: 20px;
    padding-top: 30px;
  }

  #skills .back b{
    top: 10px;
    width: 50%;
    left: 27%;
    font-size: 20px;
  }

   /* project section */
   #project>span{
    font-size: 34px;
  }

   #project>div{
    display: grid;
    width: auto;
    grid-template-columns: 300px;
    grid-template-rows: repeat(3, 150px);
    row-gap: 15px;
    left: -40%;
    top: 5%;
   }

   #project>div>div{
     width: 300px;
     height: 150px;
   }

   #project>div .front img{
     height: 60%;
     width: 80%;
   }

   #project>div .front h2{
    font-size: 16px;
   }

   #project>div .back p{
     font-size: 12px;
     margin: 4px 0px 4px 0px;
     line-height: 12px;
   }

  /* contact section */
  #contact>span{
    font-size: 34px;
  }
   
  #contact>form{
    width: 80%;
    left: 0%;
    margin: auto;
  }
  
  #contact>form>button{
    width: 40%;
  }

/*Resume  */
#resume>span{
    font-size: 34px;
 }

 #resume>div:nth-child(2){
    flex-direction: column;
    justify-content: space-between;
    height: 230px;
    left: 0%;
    margin: auto;
 }

 /* gitstat */
 .calendar{
  display: none;
 }

 /* creidt */
 #credit{
    bottom: -30%;
 }
}


