/* Responding */

/* Tab */
@media only screen and (max-device-width : 768px) {

     /* Navbar */
     #mobHome{
        visibility: visible;
        position:fixed;
     }
    .container {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        margin: 10px 10px;
        z-index: 1;
      }
      
      .bar1, .bar2, .bar3 {
        width: 50px;
        height: 5px;
        background-color: rgb(248, 248, 248);
        margin: 6px 0;
        transition: 0.4s;
      }
      
      .change .bar1 {
        transform: translate(0, 9px) rotate(-45deg);
      }
      
      .change .bar2 {opacity: 0;}
      
      .change .bar3 {
        transform: translate(0, -9px) rotate(45deg);
      }
  
      .mobBar{
        visibility: hidden;
        position: absolute;
        z-index: -1;
        background-color: rgb(34, 32, 32);
        width: 200px;
        height: 100vh;
        top: -10px;
        left: -10px;
        padding-top: 35px;
        padding-bottom: 20px;
        border-bottom-right-radius: 20px;
      }

      .mobBarVis{
        display:block;
        visibility: visible;
      }
       
      .mobBar>div{
        color: white;
        margin:25px 0px 15px 25px ;
      }
      .mobBar>div>a{
        color: white;
        text-decoration: none;
      }


    #nav-wrapper{
        visibility: hidden;
    }

    #project>div>div>h3{
      font-size: 16px;
    }

    #project>div>div>h5{
      font-size: 12px;
      margin-top: -10px;
    }

    #project>div>div>p{
      font-size: 10px;
      margin-top: -10px;
    }

    #project>div>div>img{
      height: 30%;
    }

    #project>div>div button{
      width: 60px;
      height: 30px;
    }
  
    #skill>div>div:nth-child(1){
      grid-template-columns: repeat(2, 1fr);
      row-gap: 25px;
    }

    #skill>div>div:nth-child(3){
      display: grid;
      width: 100%;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 20px;
    }

    #skill>div>div:nth-child(3)>div{
      width: 130px;
    }

    #contact>form{
      width: 80%;
    }

    #contact>p{
      font-size: 14px;
    }
    #contact>form>button{
      width: 60%;
    }

    #resume>div:nth-child(2){
      margin: auto;
      width: 80%;
      margin-top: 25px;
    }

    #skill>span:nth-child(5), #skill>div:nth-child(6){
      display: none;
    }

    }

/* Mobile scresn */
@media only screen and (max-device-width : 375px) {

  #mainBox>div{
    transform: scale(0.8);
  }

  #aboutMe>div{
    font-size: 14px;
    line-height: 20px;
  }
  #aboutMe>div, #techStack>div{
    width: 300;
    height: 200px;
  }
  #skill>div>div:nth-child(3){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    width: 100%;
  }

  #skill>div>div:nth-child(3)>div{
    width: 140px;
    padding: 2%;
  }

  #project>div{
    display: inline;
  }

  #project>div>div{
    width: 80%;
    margin: 15px auto;
  }

  #contact>form{
    width: 80%;
  }

  #contact>p{
    font-size: 14px;
  }
  #contact>form>button{
    width: 40%;
  }

  #resume>div:nth-child(2){
    margin: auto;
    width: 80%;
    margin-top: 25px;
  }

  #resume>div>a>button{
    width: 120px;
    height: 60px;
  }
}


