/* Responding */

/* Tab */
@media only screen and (min-device-width : 480px) and (max-device-width : 768px) {
    /* Styles */

    /* Navbar */
    #navBar{
        width: 100%;
        justify-content: space-between;
    }
    #navBar li{
        font-size: 12px;
        
    }

    /* Ṃain box */
    #mainBox{
        width: 100%;
    }

    #mainBox>img{
        width: 120px;
        margin-bottom: 35px;
    }

    #mainBox>h1{
        font-size: 44px;
    }

    #mainBox>p{
        font-size: 18px;
    }

    #logo img{
        width: 30px;
    }

    #logo{
        width: 300px;
    }

    #logoName>div:nth-child(1){
        left:  -38px;
    }
    #logoName>div:nth-child(2){
        left:  -24px;
    }
    #logoName>div:nth-child(3){
        left:  -15px;
    }
    #logoName>div:nth-child(4){
        left:  -13px;
    }
    #logoName>div:nth-child(5){
        left:  -2px;
    }
    #logoName>div:nth-child(6){
        left:  13px;
    }

    /* About me section */
    #aboutMe>span{
      font-size: 34px;
    }
    
    #aboutMe>div{
        width: 300px;
        font-size: 16px;
        left: 35%;
    }

       /* Skill section */
       #skills>span{
        font-size: 34px;
      }
      
      #skills>div{
          width: 300px;
          font-size: 16px;
          left: 35%;
      }

      #skills .front{
        padding-left: 10px;
      }

      #skills .front div{
        width: 80px;
      }
  

    }

/* Mobile scresn */
@media only screen and (min-device-width : 0px) and (max-device-width : 480px) {
    /* Styles */

    /* Navbar */

    #mobHome{
        visibility: visible;
        position:fixed;
    }
    .container {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        z-index: 1;
      }
      
      .bar1, .bar2, .bar3 {
        width: 30px;
        height: 3px;
        background-color: rgb(248, 248, 248);
        margin: 6px 0;
        transition: 0.4s;
      }
      
      .change .bar1 {
        transform: translate(0, 9px) rotate(-45deg);
      }
      
      .change .bar2 {opacity: 0;}
      
      .change .bar3 {
        transform: translate(0, -9px) rotate(45deg);
      }
  
      .mobBar{
        visibility: hidden;
        position: absolute;
        z-index: -1;
        background-color: rgb(34, 32, 32);
        width: 160px;
        height: max-content;
        top: -10px;
        left: -10px;
        padding-top: 35px;
        padding-bottom: 20px;
        border-bottom-right-radius: 20px;
      }

      .mobBarVis{
        display:block;
        visibility: visible;
      }
       
      .mobBar>div{
        color: white;
        margin:25px 0px 15px 25px ;
      }
      .mobBar>div>a{
        color: white;
        text-decoration: none;
      }


    #navBar{
        visibility: hidden;
    }
        

     /* Ṃain box */
     #mainBox{
        width: 100%;
    }

    #mainBox>img{
        width: 95px;
        margin-bottom: 25px;
    }

    #mainBox>h1{
        font-size: 30px;
    }

    #mainBox>p{
        font-size: 12px;
    }

    #logo img{
        width: 25px;
    }

    #logo{
        width: 240px;
        
    }

    #logoName{
        font-size: 9px;
        margin-top: -8px;
    }

    #logoName>div{
        visibility: visible;
        background-color: transparent;
    }

    #logoName>div:nth-child(1){
        left:  -34px;
    }
    #logoName>div:nth-child(2){
        left:  -20px;
    }
    #logoName>div:nth-child(3){
        left:  -13px;
    }
    #logoName>div:nth-child(4){
        left:  -9px;
    }
    #logoName>div:nth-child(5){
        left:  2px;
    }
    #logoName>div:nth-child(6){
        left:  14px;
    }
    
  /* About me section */
  #aboutMe>span{
    font-size: 34px;
  }
  
  #aboutMe>div{
      width: 230px;
      font-size: 12px;
      line-height: 16px;
      text-align: left;
      left: 15%;
  }

  /* skills section */
  #skills>span{
    font-size: 34px;
  }
  
  #skills>div{
      width: 230px;
      font-size: 12px;
      line-height: 16px;
      text-align: left;
      left: 15%;
  }

  #skills .front{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 50px);
    padding-left: 40px;
  }

  #skills .front div{
    width: 60px;
    height: 60px;
  }
}


