@import 'bootstrap/dist/css/bootstrap.min.css';

.full-screen-container {
    width: 1130px;
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activeLinkStyle {
    border: 2px solid white;
    border-radius: 10px;
    padding-left: 2px; 
    padding-right: 2px 
}

.navbar-nav a {
    list-style: none;
    text-decoration: none;
    color: white;
    margin-left: 2rem;
}

